build/
modules/*/build/
**/build/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake

*.so
*.o
*.a

*_autogen/
*.qmlc
*.jsc
moc_*
qrc_*

.vscode/
.idea/
.crush/
*.user
*.swp
*.swo

.local/
